* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  .mainpage {
    font-family: 'Open Sans', sans-serif;
    background-color: #222;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .form-container { 
    display: flex;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    padding: 50px;
    background-color: #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: #fff;
  }

  h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    color: #b38bff;
  }
  label {
    margin-bottom: 10px;
    font-size: 18px;
  }

  input {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    color: #fff;
    background-color: #555;
  }

  button {
    padding: 10px;
    background-color: #b38bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.2s ease-in-out;
  }

  button:hover {
    background-color: #8c5fb2;
  }

  a {
    text-decoration: none;
    color: #b38bff;
    font-size: 18px;
    transition: color 0.2s ease-in-out;
  }

  a:hover {
    color: #8c5fb2;
  }

  p {
    text-align: center;
    margin: 8px;
  }
  .navbar{
    background-color: rgb(12, 158, 158) !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .btn{
    color: #222;
    background-color: rgb(238, 88, 88) !important;
  }
.first{
  margin-top: 80px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  background-color: rgb(12, 158, 158) ;
  border: 1px solid black;
  height: 70px;
  width: 100%;

}
